@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Charm:wght@400;700&display=swap');
.m-left {
  margin-left: 10px;
}
.collection {
  /* font-size: 4rem; */
  color: transparent;
  /* text-shadow: -1px 1px 0 #0000; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8aa787;
}
.logo{
  aspect-ratio: 12/5;
}
.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}
.sofa{
  font-family: "Annapurna SIL", serif;
  font-weight: 700;
  font-style: normal;
}
/* body{
  overflow-x: hidden;
} */
.animation-div{
  z-index: -1;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  left: 12%;
  position: absolute;
  background-color: #8aa787;
  filter: blur(14px);
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.animation-div-right{
  right: 3%;
  bottom: 10%;
  z-index: -1;
  width: 25rem;
  height: 25rem;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  background-color: #8aa787;
  filter: blur(10px);
  animation-name: movingRight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.animation-div-home-about{
  z-index: -1;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  bottom: 20px;
  left: 5%;
  position: absolute;
  background-color: #8aa787;
  filter: blur(14px);
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes moving {
  from{
    transform: translate(10%, -10%);
  }to{
    transform: translate(-10%, 10%);
  }
}
@keyframes movingRight {
  from{
    transform: translate(10%, -20%);
  }to{
    transform: translate(-20%, 10%);
  }
}